<%- include("partials/header") -%>

    <div class="page-content">


        <div class="post">
            <h2 class="post-title">
                <%=title%>
            </h2>
            <p class="post-content">
                <%=content%>
            </p>
        </div>


    </div>


    <%- include("partials/footer") -%>